<a href="https://colab.research.google.com/github/maneeshb-prog/Demo_XYZ/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

This is my First Python notebook. I will be understanding the data types in python in the cell below.

# Any Random Heading
- Integer ex 5, 10, 123, 10001
- String ex "ABC", Maneesh", "123"
- Float ex 5.1, 22.3, 12.567
- Boolean, ex True, False
- Type Conversion, Converting from num to text and text to num

In [ ]:
x = 5
print(x)
type(x)

5

int

In [ ]:
x = int(input("enter X:"))
y = int(input("Enter y:"))
print("add 2 number x+Y :", x+y)
print("sub 2 number x-Y :", x-y)
print("mult 2 number x*Y :", x*y)
print("Div 2 number x/Y :", x/y)
print("Mod 2 number x%Y :", x%y )

enter X:9
Enter y:6
add 2 number x+Y : 15
sub 2 number x-Y : 3
mult 2 number x*Y : 54
Div 2 number x/Y : 1.5
Mod 2 number x%Y : 3

Data Structures
- lst
-lst(-1)"
-indexing
-Index start from 0 from left to right
-negative index start from -1 from right to left
-append function to add value to the list (add at the end of the list)"
-remove function is used to remove any value from the lst.
-reverse function will referese the list

In [ ]:
lst = [1,2,3]
print(lst)

[1, 2, 3]

In [ ]:
x = True
y = float(x)

print(y)
type(y)

1.0

float

For loop in Python

In [ ]:
A=[2,3,4,5,6,7]
for x in A:
  print(x, x+1, 2*x)

2 3 4
3 4 6
4 5 8
5 6 10
6 7 12
7 8 14

Dictonary : is nothing buy a key value pair

In [ ]:
dct = {"key1": "Value1", "key2": "Value2", "key3": "Value3", "key4": "Value3"}

In [ ]:
dct["key1"]

'Value1'

In [ ]:
for x,y in dct.items():
  print(x,y)

key1 Value1
key2 Value2
key3 Value3
key4 Value3

Write a program to write if the givent no is even or Odd.

In [ ]:
x = int(input("Enter the number X: "))
if (x % 2 == 0):
   print("X is an Even number:", x)
else:
   print("X is an Odd Number:", x)

Enter the number X: 2.3

ValueError: invalid literal for int() with base 10: '2.3'

In [ ]:
x = int(input("Enter the number X: "))
if (x % 2 == 0):
   print("X is an Even number:", x)
else:
   print("X is an Odd Number:", x)

Enter the number X: 4.4

ValueError: invalid literal for int() with base 10: '4.4'

While Loop -- while condition is correct, then execute the code below as per the below Syntax...

Syntax: while condition:
          Code

In [ ]:
X = 10
while X>0:
  print(X)
  X = X-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
A = [1,2,3]
print(A)

Squareroot = [x**2 for x in A]
print(Squareroot)

[1, 2, 3]
[1, 4, 9]

**Control flow Statements**

1. if Statment is used for conditional execution, where different code blocks are executed based on wheather a condition is true or false...

In [ ]:
Choclates = 5
if Choclates == 10 :
  print("I need to give 5 choclates to my friend")
else:
  print("Need to give 2 choclates to my friend")

Need to give 2 choclates to my friend

In [ ]:
x=int(input("Enter the value for x:"))

if x>5:
   print("x is greater than 5")
elif x==5 :
   print("x is equal to 5")
else:
   print("x is less than 5")

Enter the value for x:8
x is greater than 5

Question: Write a program in python to take input of a number and
print if its even or odd.

In [ ]:
x=int(input("Enter the value for x:"))

if x%2==0:
   print("x is even")
else:
   print("x is odd")

Enter the value for x:99
x is odd

Question 2: Write a program in python to take two numbers as input and also the operation ('add', 'subtract', 'multiply', 'divide', 'remainder'). And finally create a calculator using python.

For example:
Input: a = 2 b = 3 operation = "add"
Output: 5

In [ ]:
x = int(input("Enter the number X: "))
y = int(input("Enter the number Y: "))
operation = input("Enter the operation: ")
operation = operation.lower()
if operation == "add" or operation == Add:
  print("X+Y:", x+y)
elif operation == "subtract":
  print("X-Y:", x-y)
elif operation == "multiply" :
  print("X*Y:", x*y)
elif  operation == "divide":
  if y == 0 :
    print("Division by zero is not possible")
  else:
    print("X/Y:", x/y)
elif  operation == "remainder":
  print("X%Y:", x%y)
else:
  print("Invalid operation")

Enter the number X: 3
Enter the number Y: 5
Enter the operation: Add
X+Y: 8

# 2. **for loop:** Used for iterating over a sequence (such as a list, tuple, or string) or other iterable objects.

In [ ]:
#Example of for loop for i in range(1, 6):
my_list = [100, 102, 105, 190, 201]
for item in my_list:
  item = item+2
  print(item)
print(item, end="") # if we remove the end= from the print statement it will display in single line.

102
104
107
192
203
203

In [ ]:
my_list = ["Mango", "Banana", "Apple", "Cherry"]
for fruit in my_list:
  print(fruit)

Mango
Banana
Apple
Cherry

In [ ]:
# to display only the even numbers from the list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in my_list:
  if num % 2 == 0:  # in order to print odd number the reminder need to be 1 instead of 0
    print(num)
    print("Even numbers 4", )

2
4
6
8
10

In [ ]:
# How loops will work in the below example...
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in my_list:
  if num % 2 == 0:  # in order to print odd number the reminder need to be 1 instead of 0
    print("print even number inside if loop", num)
  print("The print statment is outside of if loop, but its inside of for loop" )
print("This print statement is oustide of for loop, which is end of the code")

The print statment is outside of if loop, but its inside of for loop
print even number inside if loop 2
The print statment is outside of if loop, but its inside of for loop
The print statment is outside of if loop, but its inside of for loop
print even number inside if loop 4
The print statment is outside of if loop, but its inside of for loop
The print statment is outside of if loop, but its inside of for loop
print even number inside if loop 6
The print statment is outside of if loop, but its inside of for loop
The print statment is outside of if loop, but its inside of for loop
print even number inside if loop 8
The print statment is outside of if loop, but its inside of for loop
The print statment is outside of if loop, but its inside of for loop
print even number inside if loop 10
The print statment is outside of if loop, but its inside of for loop
This print statement is oustide of for loop, which is end of the code

**3. while loop: Used for executing a block of code repeatedly as long as a condition is true**

In [ ]:
#Example of while loop
count = 0
while count < 5:
  print (count, end=" ") # Prints numbers 0 to 4 separated by space
  count+= 1

0 1 2 3 4

***4. Continue statement: used inside loops to skip the rest of the code inside the loop for the current iteration and proceed to the next iteration***

In [ ]:
# Example of continue statement:
for i in range (1, 11):
   if i % 2 == 0:
     print("Before Continue")
     continue  # skips current iteration of displaying even numbers
     print("After Continue")
   print("Inside loop")
   print(i, end=" ")   #print odd numbers between 1 to 10

Inside loop
1 Before Continue
Inside loop
3 Before Continue
Inside loop
5 Before Continue
Inside loop
7 Before Continue
Inside loop
9 Before Continue

**5. Break statment: Used to exit the loop permanently based on certain conditions.**

In [ ]:
# example of break statement
for i in range (1, 11):
  if i > 5:
    print("Before break")
    break  #  stop the loop when i becomes greater than 5
    print("After break")  # This will never get executed as it after break starts. (Dead code.)
  print(i, end=" ")  # print numbers 1 to 5 seperated by space..

1 2 3 4 5

**6. Pass Statement: used when a statment is syntactically required but you want to do nothing or placeholder for future code.**

In [ ]:
# Example of pass statement
x = 11
if x<10:
  pass  # no action is taken if x is less than 10
else:
   print("x is greater than or equal to 10")

x is greater than or equal to 10

write a program in python to print the grade of the student. you have to take the marks as an input and print the grade of the student based on the below table
.90+ = Grade A

*   90+ -- Grade A
*   80-90 -- Grade B
*   70-79 -- Grade C
*   60-69 -- Grade D
*   Below 60 - Grade E

In [ ]:
x = int(input("Enter the marks of the student:"))
if x > 90:
  print("Grade A")
elif x > 80 or x <= 90:
  print("Grade B")
elif x > 70 or x <= 79:
  print("Grade C")
elif x > 60 or x <= 69:
  print("Grade D")
else:
  print("Grade E")

Enter the marks of the student:99
Grade A

In [ ]:
# print hello 10 times...
x=0
while x < 10 :
  print("hello maneeesh", x)
  if x==7:
   break
  x = x+1

hello maneeesh 0
hello maneeesh 1
hello maneeesh 2
hello maneeesh 3
hello maneeesh 4
hello maneeesh 5
hello maneeesh 6
hello maneeesh 7

In [ ]:
# print hello 10 times... but should not display 2 and 8
x=0
while x < 10 :
  x = x+1
  if x==2 or x == 8:
    continue
  print("hello maneeesh", x)

hello maneeesh 1
hello maneeesh 3
hello maneeesh 4
hello maneeesh 5
hello maneeesh 6
hello maneeesh 7
hello maneeesh 9
hello maneeesh 10

**Functions**

User defined functions

1. User defined functionw in python are created using the def keyworkd followed by function name an parameter, if any...
2. within the function body, you define the operations to be performed.
3. when the function is called, arguments are passed to it and the function executes the defined operations using this arguments..
4. it can return the value using the return statement.
5. Functions allows for modularization of the code, making it reusable and easier to maintain. They enhance code redability and organization by encapusulating specific task into named blocks of code.

In [ ]:
# Write a python function Print_even(x,y), to print all the even numbers between x and y
def print_even(x,y):
  for i in range(x,y+1):
    if i%2==0:
      print(i, end=" ")

print_even(10,30)
print("\n")
print_even(51,70)

10 12 14 16 18 20 22 24 26 28 30

52 54 56 58 60 62 64 66 68 70

In [ ]:
# Write a python function Print_prime(x,y), to print all the Prime numbers between x and y
def print_prime(x,y):
  for i in range(x,y+1):
    if i>1:
      for j in range(2,i):
        if i%j==0:
          break
      else:
        print(i, end=" ")

print_prime(1,20)

2 3 5 7 11 13 17 19

In [ ]:
my_string = "hello world"
for char in my_string:
  if char == 'l':
    print("Found 'l'!")

Found 'l'!
Found 'l'!
Found 'l'!

In [ ]:
my_string = "hello world"
count = 0
for char in my_string:
  if char == 'l':
    count += 1
print(f"The character 'l' appears {count} times in the string.")

The character 'l' appears 3 times in the string.

In [ ]:
# write a function count_char(text, char)

def count_char(text, char):
  count = 0
  for c in text:
    if c == char:
      count += 1
  print(f"The character '{char}' appears {count} times in the {text} string.")

count_char(text="Banana", char="a")

The character 'a' appears 3 times in the Banana string.

In [ ]:
def count_char(text, char):
  return text.count(char)

count_char(text="Banana", char="a")

3

**2. Square all Numbers**
write a function square_number(numbers) that:
    1. take a list of integers
    2. return a new list with each number squared

input = [1,2,3]
output =[1,4,9]

In [ ]:
a = [1,2,3]
b = []
for i in a:
  b.append(i**2)
print(b)

[1, 4, 9]

In [ ]:
def square_number(number):
  Squared_numbers = []
  for i in number:
    Squared_numbers.append(i**2)
  return Squared_numbers

square_number(number=[1,2,3])

[1, 4, 9]

In [ ]:
def square_number(number):
  return [numbers**2 for numbers in number]

square_number([4,5,6])

[16, 25, 36]

**Check All Positive**

write a function all_positive(numbers)
   take a list of integers
   return True if all the numbers are positive, otherwise false..

   example:
   input = [1,2,3]
   output = true

In [ ]:
def all_positive(numbers):
  for number in numbers:
     if number < 0 :
       return False
  return True

all_positive(numbers=[1,-2,3])

False

**4. Find words starting with letter**

write a function word_starting_with(words, letter) that:
      Take a list of string and a charater.
      return the list of words that start with the given charater

    Input : (["banana", "apple", "apricot"], "a")  
    output : ["apple", "apricot"]

In [ ]:
def word_starting_with(words, letter):
   starting_with_letter = []
   for word in words:
     if word.startswith(letter):
       starting_with_letter.append(word)

   return starting_with_letter

word_starting_with(words=["apple", "apricot", "banana"], letter="a")

['apple', 'apricot']

In [ ]:
def word_starting_with(words, letter):
  new_list = []
  for item in words:
    if item[0] == letter:
      new_list.append(item)

  return new_list

word_starting_with(words=["apple", "apricot", "banana"], letter="a")

['apple', 'apricot']

In [ ]:
def word_starting_with(words, letter):
   return [item for item in words if item[0]==letter]

word_starting_with(words=["apple", "apricot", "banana"], letter="a")

['apple', 'apricot']

**5. Remove Duplciates and sort**

write a function unique_sorted(numbers) that:

    take a list of intergers.
    Returns a sorted list with duplicate removed.

    Input = [1,2,3,4,2,5,4]
    output = [1,2,3,4,5]

In [ ]:
def unique_sorted(numbers):
  sorted_numbers = set(numbers)
  return sorted(sorted_numbers)

unique_sorted(numbers = [1,2,3,4,3,5,4])

[1, 2, 3, 4, 5]

In [ ]:
def unique_sorted(numbers):
  sorted_numbers = set(numbers)
  new_list = list(sorted_numbers)
  new_list.sort()
  return new_list

unique_sorted(numbers = [1,2,3,4,3,5,4])

[1, 2, 3, 4, 5]

In [ ]:
def unique_sorted(numbers):
  for item in numbers:
    if numbers.count(item) >1:
      numbers.remove(item)

  numbers.sort()
  return numbers

unique_sorted(numbers = [1,2,3,4,3,5,4])

[1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 2, 5, 4]
seen = set()
duplicates = []

for item in my_list:
  if item in seen:
    duplicates.append(item)
  else:
    seen.add(item)

print("Original list:", my_list)
print("Duplicate numbers:", duplicates)

Original list: [1, 2, 3, 4, 2, 5, 4]
Duplicate numbers: [2, 4]

**6. Find longest word**

write a function longest_word(words) that:

    take a list of strings.
    Return the longest word. if they are ties return the first one.

    Input = ["apple", "banana", "cherry"]
    output = banana

In [ ]:
def longest_word(words):
  longest_word = ""
  for item in words:
    if len(item) > len(longest_word):
      longest_word = item

  return longest_word

longest_word(words=["apple", "apricot", "banana"])

'apricot'

      **MAP Functions**
*   The map function in python applies a given fuction to each item of an iterable (such as a list, tuple, or set) and retrunsa new iterator that yielss the results.
*   It takes two arguments: the function to apply and the iterable to apply it to.
*   The function provided to map can be a build-in function, a lambda function, or a user-defined function.
*   Map is commonly used to apply a transformation or operation to all elements of a collection without the need for explicit loops.
*   It offers a more concise and efficient alternative to using a for loop with a list comprehension.

In [2]:
# Example of map functions
def square(x):
  """function to have a square of the numbers"""
  return x**2

#Applying square function to each element in the list using map
numbers=[1, 2, 3, 4]
squared_numbers = map(square, numbers)

# Converting the map object to a list
squared_numbers_list = list(squared_numbers)
print("Squared numbers:" , squared_numbers_list)

# In this example, the map function is used to apply the square function to each element of the numbers list, remaining in a new list containing

Squared numbers: [1, 4, 9, 16]

In [4]:
def square(x):
  return x*x

my_list = [2,3,4,5,6]
squared_numbers = list(map(square, my_list))
squared_numbers

[4, 9, 16, 25, 36]

**Lambda function: is a short hand function**

In [5]:
my_list = [2,3,4,5,6]

cube_list = list(map(lambda x:x*x*x, my_list))
cube_list

[8, 27, 64, 125, 216]

In [7]:
fruits = ["Apple", "orange", "banana", "Mango", "plum"]

first_letters = list(map(lambda word : word[0], fruits))
first_letters

['A', 'o', 'b', 'M', 'p']

In [1]:
# having 2 input in lambda function
my_list = [1,2,3,4,5]

sum_list = list(map(lambda x,y: x+y, my_list, my_list))
sum_list

[2, 4, 6, 8, 10]